* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #B5B8A3;
    padding: 1.5em; 
}

li {
    display: inline;
    padding: 1.25em; 
}

.container-list {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: rgb(199, 199, 199);
    padding: 2em; 
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.logo {
    width: 3.125em; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: -2.5em;
}

a {
    text-decoration: none;
    color: black;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    min-height: 80vh;
    background-color: #AABA9E;
}

.box-1, .box-pop {
    flex: 0 1 auto; 
    margin: 1em; 
    max-width: 400px;
    height: auto; 
}

.img-c {
    width:400px;
    height:300px;
    border-radius: 5px;
}

.description {
    width: 100%; 
    padding: 0.3125em; 
}

.statement, .bottom-sec {
    min-height: 50vh;
}

.discount-card {
    display: flex;
    justify-content: center;
    height: auto; 
    background-color: rgba(232, 232, 232, 0.933);
    padding: 1.5em; 
    box-shadow: 5px 10px #888888;
}

.container-popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%; 
    min-height: 80vh;
    background-color: #B5B8A3;
}

.header-pop {
    display: flex;
    justify-content: space-around;
    background-color: #B5B8A3;
}

h4, .price {
    display: flex;
    justify-content: center;
    margin: 1em; 
}

.social-cont {
    display: flex;
    justify-content: center;
}

.social-icons {
    width: 3.125em; 
}


@media (max-width: 767px) {
    .main-nav,
    .container-list,
    .container-promo,
    .container-popular,
    .banner-container,
    .discount-card,
    .header-pop {
        flex-direction: column;
    }

    .logo {
        margin: 0 auto;
        top: 0;
    }

    .box-1, .box-pop {
        width: 100%; 
    }

    .img-c {
        width: 100%; 
        height: auto; 
    }

}




